
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Change Password</h3>
        </div>
        <div class="panel-body">
          <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

            <div class="form-group">

              <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword" placeholder="Current Password"
                     mongoose-error/>
              <p class="help-block" ng-show="form.password.$error.mongoose">
                {{ vm.errors.other }}
              </p>
            </div>

            <div class="form-group">

              <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword" placeholder="New Password"
                     ng-minlength="3"
                     required/>
              <p class="help-block"
                 ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                Password must be at least 3 characters.
              </p>
            </div>

            <div class="form-group">

              <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword" placeholder="Confirm New Password"
                     match="vm.user.newPassword"
                     ng-minlength="3"
                     required=""/>
              <p class="help-block"
                 ng-show="form.confirmPassword.$error.match && vm.submitted">
                Passwords must match.
              </p>

            </div>

            <p class="help-block"> {{ vm.message }} </p>

            <button class="btn btn-block btn-primary" type="submit">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
