
.bg {
  background-image: url('../../assets/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  margin-top: 25%;
  margin-left: calc(50% - 100px);
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
}

.wording {
  color: #212180;
  font-weight: bold;
}
